*.o
*.a
*.rsrc
*~
CMakeLists.txt.user
CMakeCache.txt
**/CMakeFiles/*
*.cmake
*.make
Makefile
install_manifest.txt
compile_commands.json
.dir-locals.el
build
GPATH
GRTAGS
GTAGS
Documentation
libclue.so
SampleApp
ClueViewer
